<c-container class="banks-container" breakpoint="md">
    <c-row class="justify-content-center">
        <c-col class="mb-4">
            <button cButton color="primary"  (click)="handleCreateEvent()" style="float: left;">Create</button>
        </c-col>
    </c-row>
    <c-row class="justify-content-center">
        <c-col lg="12" xl="12">
            <c-card>
                <c-card-header>
                    <strong>List Of Banks</strong>
                </c-card-header>
                <c-card-body>
                    <table [responsive]="true" cAlign="middle" cTable>
                        <thead cTableColor="light">
                            <tr>
                                <th class="font-style" scope="col">ID</th>
                                <th class="font-style" scope="col">Bank Name</th>
                                <th class="font-style" scope="col">Date Of Creation</th>
                                <th class="font-style" scope="col">Active?</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bankList">
                                <td class="font-style">{{ item.id }}</td>
                                <td class="font-style">{{ item.bankName }}</td>
                                <td class="font-style">{{ item.dateOfCreation }}</td>
                                <td class="font-style">{{ item.isActive }}</td>
                                <td>
                                    <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
                                        <button [caret]="false" cDropdownToggle class="py-0 pe-0"
                                            aria-label="Open user menu">
                                            <svg cIcon name="cilSettings" style="height: 2rem; width: 2rem;"></svg>
                                        </button>
                                        <ul cDropdownMenu class="pt-0 w-auto">
                                            <li>
                                                <a cDropdownItem routerLink="/settings/users/view">
                                                    <!-- <svg cIcon class="me-2" name="cilUser"></svg> -->
                                                    Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a cDropdownItem routerLink="/settings">
                                                    <!-- <svg cIcon class="me-2" name="cilSettings"></svg> -->
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </c-dropdown>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>