<c-row>
    <c-col xs="12">
        <c-card class="mb-3">
            <c-card-header ngPreserveWhitespaces>
                <strong>Add Bank</strong>
            </c-card-header>
            <c-card-body>
                <c-tabs>
                    <c-tabs-list variant="underline-border">
                        <button cTab [itemKey]="0" (click)="handleTabsEvent('Bank')">
                            <svg cIcon class="me-2" name="cilUser"></svg>
                            Banks
                        </button>
                        <button cTab [itemKey]="1" (click)="handleTabsEvent('Deposits')">
                            <svg cIcon class="me-2" name="cilUser"></svg>
                            Deposits
                        </button>
                        <button cTab [itemKey]="2" (click)="handleTabsEvent('Withdrawls')">
                            <svg cIcon class="me-2" name="cilUser"></svg>
                            Withdrawls
                        </button>
                    </c-tabs-list>
                    <c-tabs-content>
                        <c-tab-panel [itemKey]="0" class="p-3">
                            <form cForm [formGroup]="bankForm">
                                <div class="row">
                                    <div class="col-10">
                                        <label cLabel="col" for="bankLabel">
                                            Bank Name
                                        </label>
                                        <input cFormControl placeholder="Bank Name" type="text"
                                            formControlName="bankName" id="bankLabel" name="bankName" />
                                    </div>
                                    <div class="col-2">
                                        <label cLabel="col" for="isActive">
                                        </label>
                                        <c-form-check sizing="lg" switch>
                                            <input cFormCheckInput type="checkbox" formControlName="isActive"
                                                id="isActive" name="isActive" />
                                            <label cFormCheckLabel> Active?</label>
                                        </c-form-check>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <label cLabel="col" for="ref">
                                            Ref
                                        </label>
                                        <ng-select formControlName="ref" name="ref" [items]="refList" [multiple]="false"
                                            bindValue="value" [clearable]="false" bindLabel="label"
                                            placeholder="Select Role"></ng-select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div formArrayName="details">
                                        <div *ngFor="let item of details.controls; let i = index" [formGroupName]="i"
                                            class="row">
                                            <div class="col-5">
                                                <label for="name">Name</label>
                                                <input cFormControl placeholder="Name" type="text"
                                                    formControlName="name" id="name" name="name" />
                                            </div>
                                            <div class="col-5">
                                                <label for="value">Value</label>
                                                <input cFormControl placeholder="Value" type="text"
                                                    formControlName="value" id="value" name="value" />
                                            </div>
                                            <div class="col-2 d-flex align-items-center">
                                                <button cButton color="secondary" (click)="removeBankItem(i)"
                                                    *ngIf="details.length > 1">-</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <button cButton color="primary" (click)="addBankItem()">+</button>
                                    </div>
                                </div>
                                <div class="row" style="float: right;">
                                    <div class="col-2 d-flex align-items-center">
                                        <button cButton color="secondary" (click)="onBankSubmit()">Submit </button>
                                    </div>
                                </div>
                            </form>
                        </c-tab-panel>
                        <c-tab-panel [itemKey]="1" class="p-3">
                            <form cForm [formGroup]="depositForm">
                                <div formArrayName="depositFields">
                                    <div *ngFor="let item of depositFields.controls; let i = index" [formGroupName]="i">
                                        <div class="row">
                                            <div class="col-10">
                                                <label cLabel="col" for="fieldName">
                                                    Field Name
                                                </label>
                                                <input cFormControl placeholder="Field Name" type="text"
                                                    formControlName="fieldName" id="fieldName" name="fieldName" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                <label cLabel="col" for="ref">
                                                    Display Mode
                                                </label>
                                                <ng-select formControlName="displayMode" name="displayMode"
                                                    [items]="displayModeList" [multiple]="false" bindValue="value"
                                                    [clearable]="false" bindLabel="label"
                                                    placeholder="Select Display Mode"></ng-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                <label cLabel="col" for="ref">
                                                    Field:
                                                </label>
                                                <ng-select formControlName="field" name="field" [items]="fieldList"
                                                    [multiple]="false" bindValue="value" [clearable]="false"
                                                    bindLabel="label" placeholder="Select Field"></ng-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <c-form-check class="check-mb" sizing="lg" switch>
                                                <label cFormCheckLabel for="required">Required Field?</label>
                                                <input cFormCheckInput type="checkbox" formControlName="required"
                                                    id="required" name="required" />
                                            </c-form-check>

                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                <label cLabel="col" for="placeHolder">
                                                    PlaceHolder
                                                </label>
                                                <input cFormControl placeholder="PlaceHolder" type="text"
                                                    formControlName="placeHolder" id="placeHolder" name="placeHolder" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2 d-flex align-items-center">
                                                <button cButton color="secondary" (click)="removeDepositItem(i)"
                                                    *ngIf="depositFields.length > 1">-</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <button cButton color="primary" (click)="adddepositItem()">+</button>
                                    </div>
                                </div>
                                <div class="row" style="float: right;">
                                    <div class="col-2 d-flex align-items-center">
                                        <button cButton color="secondary" (click)="onDepositSubmit()">Submit </button>
                                    </div>
                                </div>
                            </form>
                        </c-tab-panel>
                        <c-tab-panel [itemKey]="2" class="p-3">
                            <form cForm [formGroup]="withdrawlForm">
                                <div formArrayName="withdrawlFields">
                                    <div *ngFor="let item of withdrawlFields.controls; let i = index"
                                        [formGroupName]="i">
                                        <div class="row">
                                            <div class="col-10">
                                                <label cLabel="col" for="fieldName">
                                                    Field Name
                                                </label>
                                                <input cFormControl placeholder="Field Name" type="text"
                                                    formControlName="fieldName" id="fieldName" name="fieldName" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                <label cLabel="col" for="ref">
                                                    Display Mode
                                                </label>
                                                <ng-select formControlName="displayMode" name="displayMode"
                                                    [items]="displayModeList" [multiple]="false" bindValue="value"
                                                    [clearable]="false" bindLabel="label"
                                                    placeholder="Select Display Mode"></ng-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                <label cLabel="col" for="ref">
                                                    Field:
                                                </label>
                                                <ng-select formControlName="field" name="field" [items]="fieldList"
                                                    [multiple]="false" bindValue="value" [clearable]="false"
                                                    bindLabel="label" placeholder="Select Field"></ng-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <c-form-check class="check-mb" sizing="lg" switch>
                                                <label cFormCheckLabel for="required">Required Field?</label>
                                                <input cFormCheckInput type="checkbox" formControlName="required"
                                                    id="required" name="required" />
                                            </c-form-check>

                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                <label cLabel="col" for="placeHolder">
                                                    PlaceHolder
                                                </label>
                                                <input cFormControl placeholder="PlaceHolder" type="text"
                                                    formControlName="placeHolder" id="placeHolder" name="placeHolder" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2 d-flex align-items-center">
                                                <button cButton color="secondary" (click)="removewithdrawlItem(i)"
                                                    *ngIf="withdrawlFields.length > 1">-</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <button cButton color="primary" (click)="addwithdrawlItem()">+</button>
                                    </div>
                                </div>
                                <div class="row" style="float: right;">
                                    <div class="col-2 d-flex align-items-center">
                                        <button cButton color="secondary" (click)="onwithdrawlSubmit()">Submit </button>
                                    </div>
                                </div>
                            </form>
                        </c-tab-panel>
                    </c-tabs-content>
                </c-tabs>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>