<c-row>
    <c-col xs="12">
        <c-card class="mb-3">
            <c-card-header ngPreserveWhitespaces>
                <strong>{{bankId ? 'Edit' : 'Add'}} Bank</strong>
            </c-card-header>
            <c-card-body>
                <c-tabs>
                    <c-tabs-list variant="underline-border">
                        <button cTab [itemKey]="0">
                            <svg cIcon class="me-2" name="cilUser"></svg>
                            Banks
                        </button>
                        <button cTab [itemKey]="1">
                            <svg cIcon class="me-2" name="cilDollar"></svg>
                            Deposits
                        </button>
                        <button cTab [itemKey]="2">
                            <svg cIcon class="me-2" name="cilDollar"></svg>
                            Withdrawls
                        </button>
                    </c-tabs-list>
                    <c-tabs-content>
                        <c-tab-panel [itemKey]="0" class="p-3">
                            <form cForm [formGroup]="bankForm">
                                <c-row class="row">
                                    <c-col sm="12" xs="12" md="6" lg="4">
                                        <label cLabel="col" for="bankLabel">
                                            Bank
                                        </label>
                                        <input cFormControl placeholder="Bank Name" type="text"
                                            formControlName="bankName" id="bankLabel" name="bankName" />
                                    </c-col>
                                    <c-col sm="12" xs="12" md="6" lg="4">
                                        <label cLabel="col" for="ref">
                                            Merchant
                                        </label>
                                        <ng-select formControlName="ref" name="ref" [items]="merchantList" [multiple]="false"
                                            bindValue="merchantId" [clearable]="false" bindLabel="merchantname"></ng-select>
                                    </c-col>
                                    <c-col sm="12" xs="12" md="6" lg="4">
                                        <label cLabel="col" for="active">
                                        </label>
                                        <c-form-check sizing="lg" switch>
                                            <input cFormCheckInput type="checkbox" formControlName="active"
                                                id="active" name="active" />
                                            <label cFormCheckLabel> Active?</label>
                                        </c-form-check>
                                    </c-col>
                                </c-row>
                                <div style="margin: 2rem;"></div>
                                <div class="row">
                                    <c-row class="row">
                                        <c-col sm="12" xs="12" md="3" lg="3">
                                            <h5>Upload Details</h5>
                                        </c-col>
                                        <c-col sm="12" xs="12" md="2" lg="2" style="float: right;">
                                            <button cButton color="primary" (click)="addBankItem()">+</button>
                                        </c-col>
                                    </c-row>
                                    <div formArrayName="uploadDetails">
                                        <div *ngFor="let item of uploadDetails.controls; let i = index" [formGroupName]="i">
                                            <c-row class="row">
                                                <c-col sm="12" xs="12" md="5" lg="5">
                                                    <label for="uploadName">Name</label>
                                                    <input cFormControl placeholder="Name" type="text"
                                                        formControlName="uploadName" id="uploadName" name="uploadName" />
                                                </c-col>
                                                <c-col sm="12" xs="12" md="5" lg="5">
                                                    <label for="uploadValue">Value</label>
                                                    <input cFormControl placeholder="Value" type="text"
                                                        formControlName="uploadValue" id="uploadValue" name="uploadValue" />
                                                </c-col>
                                                <c-col sm="12" xs="12" md="2" lg="2">
                                                    <button cButton color="secondary" (click)="removeBankItem(i)"
                                                        *ngIf="uploadDetails.length > 1">-</button>
                                                </c-col>
                                            </c-row>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </c-tab-panel>
                        <c-tab-panel [itemKey]="1" class="p-3">
                            <form cForm [formGroup]="depositForm">
                                <div formArrayName="depositFields">
                                    <div *ngFor="let item of depositFields.controls; let i = index" [formGroupName]="i">
                                        <c-row class="row">
                                            <c-col sm="12" xs="12" md="6" lg="4">
                                                <label cLabel="col" for="fieldName">
                                                    Field Name
                                                </label>
                                                <input cFormControl placeholder="Field Name" type="text"
                                                    formControlName="fieldName" id="fieldName" name="fieldName" />
                                            </c-col>
                                            <c-col sm="12" xs="12" md="6" lg="4">
                                                <label cLabel="col" for="ref">
                                                    Display Mode
                                                </label>
                                                <ng-select formControlName="displayMode" name="displayMode"
                                                    [items]="displayModeList" [multiple]="false" bindValue="value"
                                                    [clearable]="false" bindLabel="label"
                                                    placeholder="Select Display Mode"></ng-select>
                                            </c-col>
                                            <c-col sm="12" xs="12" md="6" lg="4">
                                                <label cLabel="col" for="ref">
                                                    Field:
                                                </label>
                                                <ng-select formControlName="fieldType" name="fieldType" [items]="fieldList"
                                                    [multiple]="false" bindValue="value" [clearable]="false"
                                                    bindLabel="label" placeholder="Select Field"></ng-select>
                                            </c-col>
                                        </c-row>
                                        <c-row class="row">
                                            <c-col sm="12" xs="12" md="5" lg="5">
                                                <c-form-check class="check-mb" sizing="lg" switch>
                                                    <label cFormCheckLabel for="required">Required Field?</label>
                                                    <input cFormCheckInput type="checkbox" formControlName="required"
                                                        id="required" name="required" />
                                                </c-form-check>
                                            </c-col>
                                            <c-col sm="12" xs="12" md="5" lg="5" *ngIf="item.get('fieldType')?.value !== 'checkbox'">
                                                <label cLabel="col" for="ref">
                                                    Placeholder
                                                </label>
                                                <input cFormControl placeholder="PlaceHolder" type="text"
                                                    formControlName="placeHolder" id="placeHolder" name="placeHolder" />
                                            </c-col>
                                            <c-col sm="12" xs="12" md="2" lg="2">
                                                <button cButton color="secondary" (click)="removeDepositItem(i)"
                                                    *ngIf="depositFields.length > 1">-</button>
                                            </c-col>
                                        </c-row>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <button cButton color="primary" (click)="adddepositItem()">+</button>
                                    </div>
                                </div>
                                <!-- <div class="row" style="float: right;">
                                    <div class="col-2 d-flex align-items-center">
                                        <button cButton color="secondary" (click)="onDepositSubmit()">Submit </button>
                                    </div>
                                </div> -->
                            </form>
                        </c-tab-panel>
                        <c-tab-panel [itemKey]="2" class="p-3">
                            <form cForm [formGroup]="withdrawlForm">
                                <div formArrayName="withdrawlFields">
                                    <div *ngFor="let item of withdrawlFields.controls; let i = index"
                                        [formGroupName]="i">
                                        <c-row class="row">
                                            <c-col sm="12" xs="12" md="6" lg="4">
                                                <label cLabel="col" for="fieldName">
                                                    Field Name
                                                </label>
                                                <input cFormControl placeholder="Field Name" type="text"
                                                    formControlName="fieldName" id="fieldName" name="fieldName" />
                                            </c-col>
                                            <c-col sm="12" xs="12" md="6" lg="4">
                                                <label cLabel="col" for="ref">
                                                    Display Mode
                                                </label>
                                                <ng-select formControlName="displayMode" name="displayMode"
                                                    [items]="displayModeList" [multiple]="false" bindValue="value"
                                                    [clearable]="false" bindLabel="label"
                                                    placeholder="Select Display Mode"></ng-select>
                                            </c-col>
                                            <c-col sm="12" xs="12" md="6" lg="4">
                                                <label cLabel="col" for="ref">
                                                    Field:
                                                </label>
                                                <ng-select formControlName="fieldType" name="fieldType" [items]="fieldList"
                                                    [multiple]="false" bindValue="value" [clearable]="false"
                                                    bindLabel="label" placeholder="Select Field"></ng-select>
                                            </c-col>
                                        </c-row>
                                        <c-row class="row">
                                            <c-col sm="12" xs="12" md="5" lg="5">
                                                <c-form-check class="check-mb" sizing="lg" switch>
                                                    <label cFormCheckLabel for="required">Required Field?</label>
                                                    <input cFormCheckInput type="checkbox" formControlName="required"
                                                        id="required" name="required" />
                                                </c-form-check>
                                            </c-col>
                                            <c-col sm="12" xs="12" md="5" lg="5" *ngIf="item.get('fieldType')?.value !== 'checkbox'">
                                                <label cLabel="col" for="placeHolder">
                                                    PlaceHolder
                                                </label>
                                                <input cFormControl placeholder="PlaceHolder" type="text"
                                                    formControlName="placeHolder" id="placeHolder" name="placeHolder" />
                                            </c-col>
                                            <c-col sm="12" xs="12" md="2" lg="2">
                                                <button cButton color="secondary" (click)="removewithdrawlItem(i)"
                                                    *ngIf="withdrawlFields.length > 1">-</button>
                                            </c-col>
                                        </c-row>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <button cButton color="primary" (click)="addwithdrawlItem()">+</button>
                                    </div>
                                </div>
                                <!-- <div class="row" style="float: right;">
                                    <div class="col-2 d-flex align-items-center">
                                        <button cButton color="secondary" (click)="onwithdrawlSubmit()">Submit </button>
                                    </div>
                                </div> -->
                            </form>
                        </c-tab-panel>
                    </c-tabs-content>
                </c-tabs>
                <div class="row" style="float: right;">
                    <div class="col-2 d-flex align-items-center">
                        <button cButton color="secondary" (click)="onBankSubmit()">Submit </button>
                    </div>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>