<c-container class="deposite-container" breakpoint="md">
    <c-row class="pb-3">
        <c-col lg="12" xl="12">
            <c-card>
                <c-card-header>
                    <div class="header-container">
                        <div class="left-header">
                            <strong class="b-strong">Filter</strong>
                        </div>
                        <div class="right-header">
                            <button cButton color="primary" (click)="handleFilterEvent()">Submit</button>
                            <button cButton color="primary" (click)="handleRefreshEvent()">Refresh Data</button>
                        </div>
                    </div>
                </c-card-header>
                <c-card-body>
                    <form cForm [formGroup]="depositeForm">
                        <c-row>
                            <c-col sm="12" xs="12" md="6" lg="4">
                                <select cSelect id="account" formControlName="account">
                                    <option>Account</option>
                                    <!-- Add options as needed -->
                                </select>
                            </c-col>
                            <c-col sm="12" xs="12" md="6" lg="4">
                                <select cSelect id="currency" formControlName="currency">
                                    <option>Currency</option>
                                    <!-- Add options as needed -->
                                </select>
                            </c-col>
                            <c-col sm="12" xs="12" md="6" lg="4">
                                <select cSelect id="status" formControlName="status">
                                    <option>Status</option>
                                    <option *ngFor="let item of status" [value]="item.value">{{ item.label }}</option>
                                </select>
                            </c-col>
                        </c-row>
                        <c-row class="pb-3 pt-3">
                            <c-col sm="12" xs="12" md="6" lg="4">
                                <select cSelect id="method" formControlName="method">
                                    <option>Operation Type</option>
                                    <!-- Add options as needed -->
                                </select>
                            </c-col>
                            <c-col sm="12" xs="12" md="6" lg="4">
                                <c-input-group>
                                    <input cFormControl placeholder="Operation Amount From" type="number"
                                        formControlName="operationAmountFrom" id="operationAmountFrom"
                                        name="operationAmountFrom" />
                                </c-input-group>
                            </c-col>
                            <c-col sm="12" xs="12" md="6" lg="4">
                                <c-input-group>
                                    <input cFormControl placeholder="Operation Amount To" type="number"
                                        formControlName="operationAmountTo" id="operationAmountTo"
                                        name="operationAmountTo" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row class="pb-3">
                            <c-col sm="12" xs="12" md="6" lg="4">
                                <label cLabel="col" cCol for="creationDateFrom">
                                    Creation Date From
                                </label>
                                <input cFormControl placeholder="Creation Date From" type="date" id="creationDateFrom"
                                    name="creationDateFrom" formControlName="creationDateFrom" />
                            </c-col>
                            <c-col sm="12" xs="12" md="6" lg="4">
                                <label cLabel="col" cCol for="creationDateTo">
                                    Creation Date To
                                </label>
                                <input cFormControl placeholder="Creation Date To" type="date" id="creationDateTo"
                                    name="creationDateTo" formControlName="creationDateTo" />

                                <!-- Validation message -->
                                <div *ngIf="depositeForm.get('creationDateTo').hasError('dateRangeError')"
                                    class="text-danger">
                                    Creation Date To cannot be earlier than Creation Date From.
                                </div>
                            </c-col>
                        </c-row>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row class="justify-content-center">
        <c-col lg="12" xl="12">
            <c-card>
                <c-card-header>
                    <strong>Deposit</strong>
                </c-card-header>
                <c-card-body>
                    <table [responsive]="true" cAlign="middle" cTable>
                        <thead cTableColor="light">
                            <tr>
                                <th class="font-style" scope="col">ID</th>
                                <th class="font-style" scope="col">Merchant ID</th>
                                <th class="font-style" scope="col">Creation Date</th>
                                <th class="font-style" scope="col">Complete Date</th>
                                <th class="font-style" scope="col">Operation Amount</th>
                                <th class="font-style" scope="col">Status</th>
                                <th class="font-style" scope="col">Operation Type</th>
                                <th class="font-style" scope="col">Transaction ID</th>
                                <th class="font-style" scope="col">Account Name</th>
                                <th class="font-style" scope="col">Account Number</th>
                                <th class="font-style" scope="col">Time of Processing</th>
                                <th class="font-style" scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of deositeList">
                                <td class="font-style">{{ item.id }}</td>
                                <td class="font-style">{{ item.merchant_id }}</td>
                                <td class="font-style">{{ item.createdAt }}</td>
                                <td class="font-style" *ngIf="item.status !=='Processing';else processing">{{
                                    item.updatedAt }}</td>
                                <ng-template #processing>
                                    <td></td>
                                </ng-template>
                                <td class="font-style">{{ item.amount }}</td>
                                <td class="font-style">{{ item.status }}</td>
                                <td class="font-style">{{ item.operationType }}</td>
                                <td class="font-style">{{ item.transaction_id }}</td>
                                <td class="font-style">{{ item.accountName }}</td>
                                <td class="font-style">{{ item.accountNumber}}</td>
                                <td class="font-style"> {{ getHoursDifference(item.createdAt,
                                    item.updatedAt,item.status) }}
                                </td>

                                <td *ngIf="item.status ==='Processing';">
                                    <c-dropdown *ngIf="access.edit" [popperOptions]="{ placement: 'bottom-start' }"
                                        variant="nav-item">
                                        <button [caret]="false" cDropdownToggle class="py-0 pe-0"
                                            aria-label="Open user menu">
                                            <svg cIcon name="cilSettings" style="height: 2rem; width: 2rem;"></svg>
                                        </button>
                                        <ul cDropdownMenu class="pt-0 w-auto">
                                            <!-- <li>
                                                <h6 cDropdownHeader
                                                    class="bg-body-secondary text-body-secondary fw-semibold py-2">
                                                    Settings
                                                </h6>
                                            </li>
                                            <li></li> -->
                                            <li>
                                                <a cDropdownItem (click)="handleToggleEvent(item,'Approve')">
                                                    <!-- <svg cIcon class="me-2" name="cilUser"></svg> -->
                                                    Approve
                                                </a>
                                            </li>
                                            <li>
                                                <a cDropdownItem (click)="handleToggleEvent(item,'Reject')">
                                                    <!-- <svg cIcon class="me-2" name="cilSettings"></svg> -->
                                                    Reject
                                                </a>
                                            </li>
                                        </ul>
                                    </c-dropdown>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>