<c-container class="deposite-container" breakpoint="md">
    <c-row class="pb-3">
        <c-col lg="12" xl="12">
            <c-col lg="12" xl="12">
                <div class="header-container">
                    <div class="left-header">
                        <strong class="b-strong"></strong>
                    </div>
                    <div class="right-header">
                        <!-- <button cButton color="primary" (click)="handleFilterEvent()">Submit</button> -->
                        <button cButton color="primary" (click)="handleRefreshEvent()">Refresh Data</button>
                    </div>
                </div>
                <!-- <c-card> -->
                <!-- <c-card-header>
                        <div class="header-container">
                            <div class="left-header">
                                <strong class="b-strong">Filter</strong>
                            </div>
                            <div class="right-header">
                                <button cButton color="primary" (click)="handleFilterEvent()">Submit</button>
                                <button cButton color="primary" (click)="handleRefreshEvent()">Refresh Data</button>
                            </div>
                        </div>
                    </c-card-header>
                    <c-card-body>
                        <form cForm [formGroup]="payoutsForm">
                            <c-row class="pb-3">
                                <c-col sm="12" xs="12" md="6" lg="4">
                                    <select cSelect id="account" formControlName="account">
                                        <option>Account</option> 
                                    </select>
                                </c-col>
                                <c-col sm="12" xs="12" md="6" lg="4">
                                    <select cSelect id="currency" formControlName="currency">
                                        <option>Currency</option> 
                                    </select>
                                </c-col>
                                <c-col sm="12" xs="12" md="6" lg="4">
                                    <select cSelect id="status" formControlName="status">
                                        <option>Status</option>
                                        <option *ngFor="let item of status" [value]="item.value">{{ item.label }}</option>
                                    </select>
                                </c-col>
                            </c-row>
                            <c-row class="pb-3">
                                <c-col sm="12" xs="12" md="6" lg="4">
                                    <c-input-group>
                                        <input cFormControl placeholder="Operation Amount From" type="number"
                                            formControlName="operationAmountFrom" id="operationAmountFrom"
                                            name="operationAmountFrom" />
                                    </c-input-group>
                                </c-col>
                                <c-col sm="12" xs="12" md="6" lg="4">
                                    <c-input-group>
                                        <input cFormControl placeholder="Operation Amount To" type="number"
                                            formControlName="operationAmountTo" id="operationAmountTo"
                                            name="operationAmountTo" />
                                    </c-input-group>
                                </c-col>
                                <c-col sm="12" xs="12" md="6" lg="4">
                                    <label cLabel="col" cCol for="creationDateFrom">
                                        Creation Date From
                                    </label>
                                    <input cFormControl placeholder="Creation Date From" type="date" id="creationDateFrom"
                                        name="creationDateFrom" formControlName="creationDateFrom" />
                                </c-col>
                            </c-row>
                            <c-row>
                                <c-col sm="12" xs="12" md="6" lg="4">
                                    <label cLabel="col" cCol for="creationDateTo">
                                        Creation Date To
                                    </label>
                                    <input cFormControl placeholder="Creation Date To" type="date" id="creationDateTo"
                                        name="creationDateTo" formControlName="creationDateTo" />
     
                                    <div *ngIf="payoutsForm.get('creationDateTo').hasError('dateRangeError')"
                                        class="text-danger">
                                        Creation Date To cannot be earlier than Creation Date From.
                                    </div>
                                </c-col>
                            </c-row>
                        </form>
                    </c-card-body> -->
                <!-- </c-card> -->
            </c-col>
        </c-col>
    </c-row>
    <c-row class="justify-content-center">
        <c-col lg="12" xl="12">
            <!-- <c-card>
                <c-card-header>
                    <strong>Deposit</strong>
                </c-card-header>
                <c-card-body>
                    <table [responsive]="true" cAlign="middle" cTable>
                        <thead cTableColor="light">
                            <tr>
                                <th class="font-style" scope="col">ID</th>
                                <th class="font-style" scope="col">Merchant ID</th>
                                <th class="font-style" scope="col">Creation Date</th>
                                <th class="font-style" scope="col">Complete Date</th>
                                <th class="font-style" scope="col">Operation Amount</th>
                                <th class="font-style" scope="col">Status</th>
                                <th class="font-style" scope="col">Operation Type</th>
                                <th class="font-style" scope="col">Transaction ID</th>
                                <th class="font-style" scope="col">Account Name</th>
                                <th class="font-style" scope="col">Account Number</th>
                                <th class="font-style" scope="col">Time of Processing</th>
                                <th class="font-style" scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of deositeList">
                                <td class="font-style">{{ item.id }}</td>
                                <td class="font-style">{{ item.merchant_id }}</td>
                                <td class="font-style">{{ item.createdAt }}</td>
                                <td class="font-style" *ngIf="item.status !=='Processing';else processing">{{
                                    item.updatedAt }}</td>
                                <ng-template #processing>
                                    <td></td>
                                </ng-template>
                                <td class="font-style">{{ item.amount }}</td>
                                <td class="font-style">{{ item.status }}</td>
                                <td class="font-style">{{ item.operationType }}</td>
                                <td class="font-style">{{ item.transaction_id }}</td>
                                <td class="font-style">{{ item.accountName }}</td>
                                <td class="font-style">{{ item.accountNumber}}</td>
                                <td class="font-style"> {{ getHoursDifference(item.createdAt,
                                    item.updatedAt,item.status) }}
                                </td>

                                <td *ngIf="item.status ==='Processing';">
                                    <c-dropdown *ngIf="access.edit" [popperOptions]="{ placement: 'bottom-start' }"
                                        variant="nav-item">
                                        <button [caret]="false" cDropdownToggle class="py-0 pe-0"
                                            aria-label="Open user menu">
                                            <svg cIcon name="cilSettings" style="height: 2rem; width: 2rem;"></svg>
                                        </button>
                                        <ul cDropdownMenu class="pt-0 w-auto">
                                            
                                            <li>
                                                <a cDropdownItem (click)="handleToggleEvent(item,'Approve')">
                                                    Approve
                                                </a>
                                            </li>
                                            <li>
                                                <a cDropdownItem (click)="handleToggleEvent(item,'Reject')">
                                                    Reject
                                                </a>
                                            </li>
                                        </ul>
                                    </c-dropdown>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </c-card-body>
            </c-card> -->
            <div class="example-wrapper">
                <div class="example-header">

                    <div style="margin-top: 6px">
                        <div style="float: right;">
                            <c-pagination align="end" size="sm">
                                <li cPageItem [disabled]="currentPage === 1"
                                    [ngStyle]="{'cursor': currentPage === 1 ? '' : 'pointer'}">
                                    <a cPageLink (click)="handlePagination(currentPage - 1)" [routerLink]>Previous</a>
                                </li>
                                <ng-container *ngFor="let n of numSequence(totalPages); let i = index;">
                                    <li cPageItem [active]="currentPage === (i+1)"
                                        [ngStyle]="{'cursor': currentPage === (i+1) ? '' : 'pointer'}">
                                        <a cPageLink (click)="currentPage === (i+1) ? null : handlePagination(i+1)"
                                            [routerLink]>{{i+1}}</a>
                                    </li>
                                </ng-container>
                                <li cPageItem [disabled]="currentPage === totalPages"
                                    [ngStyle]="{'cursor': currentPage === totalPages ? '' : 'pointer'}">
                                    <a cPageLink (click)="handlePagination(currentPage + 1)" [routerLink]>Next</a>
                                </li>
                            </c-pagination>
                        </div>
                    </div>
                </div>
                <div class="data-table">
                    <ag-grid-angular style="width: 100%; height: 300px;" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [rowSelection]="rowSelection"
                        [paginationPageSize]="paginationPageSize"
                        [paginationPageSizeSelector]="paginationPageSizeSelector" [pagination]="true"
                        [suppressPaginationPanel]="true" [suppressScrollOnNewData]="true" [rowData]="rowData"
                        [class]="themeClass" (paginationChanged)="onPaginationChanged($event)" [context]="context"
                        (gridReady)="onGridReady($event)" />
                </div>
            </div>
        </c-col>
    </c-row>
</c-container>