.payouts-container {
    .b-strong {
        line-height: 2.5;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        /* Space between left and right sections */
        align-items: center;
        /* Space below the header container */
    }

    .right-header button {
        margin-left: 10px;
        /* Space between buttons */
    }

    .data-table {
        ::ng-deep .ag-cell-value.ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-column-last.ag-cell-focus {
            overflow: visible;
        }

        ::ng-deep .ag-row {
            z-index: 0;
        }

        ::ng-deep .ag-ltr .ag-cell {
            height: auto;
            width: auto;
        }

        ::ng-deep .ag-row {
            z-index: 0;
        }
    }
}

.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

.example-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
}

.value {
    margin-right: 20px;
    font-weight: bold;
    width: 50px;
    display: inline-block;
    text-align: right;
    padding-right: 2px;
}