<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        List of Banks
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <svg cIcon name="cilDollar" class="mt-3 mb-3" style="height: 3rem; width: 3rem;"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="info">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        Deposits
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <svg cIcon name="cilDollar" class="mt-3 mb-3" style="height: 3rem; width: 3rem;"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        Pending Deposits
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <svg cIcon name="cilDollar" class="mt-3 mb-3" style="height: 3rem; width: 3rem;"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a  color="danger">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        Withdrawal
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <svg cIcon name="cilDollar" class="mt-3 mb-3" style="height: 3rem; width: 3rem;"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a  color="secondary">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        Pending Withdrawal
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <svg cIcon name="cilDollar" class="mt-3 mb-3" style="height: 3rem; width: 3rem;"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>